@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
root { 
    display: block;
}

body{
    background-color: #000;
    background-repeat: repeat-x;
    background-position: top;
}

*, *:before, *:after {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
     
input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}
.styled-input {
    font-size: 2vh;
    font-weight: 600;
    font-family: Inter;
    padding-left:  10px;
    padding-right: 10px;
    color: #050E43;
    border-radius: 1rem;
    /* padding:  0.5rem 1rem; */
    border:  4px solid transparent;
    background-color: #A6BFF3;
}
.input-error{
    border: 2px solid #a72323 !important;
}
.styled-select{
    font-size: 2vh;
    font-weight: 600;
    font-family: Inter;
    

    color: #050E43;
    border-radius: 1rem;
    border:  4px solid transparent;
    background-color: #A6BFF3;
}
.styled-input:focus {
    border: 4px solid #1D398D;
    outline: none;
}

.styled-input::placeholder {
    /* Standard */
    color: #4B6ABA;
    font-family: 'Inter', sans-serif;
    font-size: 2vh;
        font-weight: 600;
}

.styled-input::-webkit-input-placeholder {
    /* WebKit */
    color: #4B6ABA;
    font-family: 'Inter', sans-serif;
    font-size: 2vh;
        font-weight: 600;
}

.styled-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #4B6ABA;
    font-family: 'Inter', sans-serif;
    opacity: 1;
    font-size: 2vh;
        font-weight: 600;
    /* Firefox adds a lower opacity to placeholders by default */
}

.styled-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #4B6ABA;
    font-family: 'Inter', sans-serif;
    font-size: 2vh;
        font-weight: 600;
}

.styled-input:-moz-placeholder {
    /* Firefox 18- */
    color: #4B6ABA;
    font-family: 'Inter', sans-serif;
    opacity: 1;
    font-size: 2vh;
        font-weight: 600;
}

::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }

#canvas{
    position: fixed;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	-ms-touch-action: none;
}
#canvasContainer {
    position: relative;
}

.ani_hack{
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent; /* mobile webkit */
}

/***************FONTS*******************/
.check-fonts{
                position: fixed;
                opacity:0;
}

.check-font-1{
        font-family: 'Inter', sans-serif;
}
                
